@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kolker+Brush&display=swap');

.horizontal_gradient {
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, blue, pink);
}

.form {
    position: relative;
    text-align: center;
    background-color: white;
    margin: 100px 40%;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgb(149, 33, 179);
    font-family: 'Secular One', sans-serif;
}

.form div {
    margin-top: 10px;
}

input {
    border-width: 1px;
    border-radius: 5px;
    border-color: #979097;
    height: 20px;
    margin-bottom: 10px;
}

input:focus {
    background: rgb(241, 224, 245);
}

textarea {
    resize: none;
    font-family: 'Kolker Brush', cursive;
    font-size: 48px;
    text-align: center;
    font-style: italic;
}

button {
    background-color: white;
    color: grey;
    margin-bottom: 10px;
    border-width: 1px;
    border-radius: 5px;
    font-family: 'Secular One', sans-serif;
    font-size: 26px;
}

button.enabled {
    background-color: blueviolet;
    color: white;
    cursor: pointer;
}