
@font-face {
    font-family: 'Ubuntu Condensed';
    src: url('https://fonts.googleapis.com/css?family=Ubuntu+Condensed');
}

.background {
    display: flex;
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
}

header {
    position: fixed;
    top: 10px;
    left: 20px;
    right: 20px;
}

.menu-main {
    float: right;
    padding-left: 0;
    margin-top: 35px;
}

    .menu-main a {
        display: flex;
        text-decoration: none;
        list-style: none;
        font-family: 'Ubuntu Condensed', sans-serif;
        letter-spacing: 2px;
        position: relative;
        margin: 0 34px 0 50px;
        font-size: 18px;
        text-transform: uppercase;
    }

        .menu-main a, .menu-main a:visited {
            color: #222;
        }

            .menu-main a.current, .menu-main a:hover {
                color: darkred;
            }

            .menu-main a:before, .menu-main a:after {
                content: "";
                position: absolute;
                height: 4px;
                top: auto;
                right: 50%;
                bottom: -5px;
                left: 50%;
                background: darkred;
                transition: .8s;
            }

            .menu-main a:hover:before, .menu-main .current:before {
                left: 0;
            }

            .menu-main a:hover:after, .menu-main .current:after {
                right: 0;
            }
