@font-face {
    font-family: 'Ubuntu Condensed';
    src: url('https://fonts.googleapis.com/css?family=Ubuntu+Condensed');
}

body {
    font-family: 'Ubuntu Condensed', sans-serif;
    margin: 0;
}

header {
    position: absolute;
    top: 10px;
    left: 20px;
    right: 20px;
}

.menu-main {
    float: right;
    padding-left: 0;
    margin-top: 35px;
}

.menu-main a {
    display: inline;
    text-decoration: none;
    list-style: none;
    font-family: 'Ubuntu Condensed', sans-serif;
    letter-spacing: 2px;
    position: relative;
    margin: 0 34px 0 50px;
    font-size: 18px;
    text-transform: uppercase;
}

.menu-main a,
.menu-main a:visited {
    color: #222;
}

.menu-main a.current,
.menu-main a:hover {
    color: darkred;
}

.menu-main a:before,
.menu-main a:after {
    content: "";
    position: absolute;
    height: 4px;
    top: auto;
    right: 50%;
    bottom: -5px;
    left: 50%;
    background: darkred;
    transition: .8s;
}

.menu-main a:hover:before {
    left: 0;
}

.menu-main a:hover:after {
    right: 0;
}

main article {
    margin-top: 150px;
    margin-left: 30px;
    margin-right: 30px;
}

.center_align {
    text-align: center;
    margin-left: 400px;
    margin-right: 400px;
    font-size: 32px;
}

p.center_align {
    font-size: 22px;
}

p {
    font-size: 20px;
}

.text_align {
    text-indent: 30px;
    text-align: justify;
    margin-left: 40px;
    margin-right: 40px;
}

img:not(.logo) {
    height: 50%;
    width: 50%;
}

.img_left {
    float: left;
    margin-right: 2em;
}

.img_right {
    float: right;
    margin-left: 2em;
}