@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: linear-gradient(to bottom, #ffb2b2, #b9ddff);
    background-repeat: no-repeat;
}

/* BACKGROUND */
section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;

}

/* FORM */

.form {
    width: 400px;
    height: 400px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    backdrop-filter: blur(5px);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding: 0 2em;
}

h1 {
    position: relative;
    color: white;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 30px
}

h1::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 90%;
    height: 4px;
    background-color: white;
}

form input {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.02);
    border: none;
    outline: none;
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 35px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    font-size: 16px;
    color: white;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
}

form input::placeholder {
    color: white;
}

form input[type="submit"] {
    background-color: white;
    color: #666;
    max-width: 100px;
    cursor: pointer;
    margin-bottom: 20px;
    font-weight: 600;
}

.forget,
.create {
    color: white;
}

.forget a,
.create a {
    color: white;
    font-weight: 600;
}

@media (max-width:700px) {
    .container {
        width: 80%;
    }

    .form {
        width: 100%;
    }

    .forget a,
    .create a {
        display: block;
    }
}

/* SQUARES */

.container {
    position: relative;
}

.container .square {
    position: absolute;
    backdrop-filter: blur(5px);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    animation: animate_squares 8s linear infinite;
    animation-delay: calc(-1s * var(--i));
}

@keyframes animate_squares {

    0%,
    100% {
        transform: translateY(-20px);
    }

    50% {
        transform: translateY(20px);
    }
}

.container .square:nth-child(1) {
    top: -50px;
    right: -60px;
    width: 100px;
    height: 100px;
}

.container .square:nth-child(2) {
    top: 150px;
    left: -85px;
    width: 100px;
    height: 100px;
    z-index: 2;

}

.container .square:nth-child(3) {
    bottom: 50px;
    right: -60px;
    width: 80px;
    height: 80px;
    z-index: 2;
}

.container .square:nth-child(4) {
    bottom: -80px;
    left: 100px;
    width: 50px;
    height: 50px;
}

.container .square:nth-child(5) {
    top: -80px;
    left: 140px;
    width: 60px;
    height: 60px;
}